<!doctype html>
<html>
  <head>
    <title>Angular-react challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" media="all" rel="stylesheet" />
    <link href="css/css.css" media="all" rel="stylesheet" />
    <script src="js/libs.js"></script>
    <script src="js/communication.js"></script>
    <script src="js/react.directive.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="app" >
    <div class="container-fluid" ng-controller="mainCtrl">
      <input type="text" value="toporny" ng-model="gitUserName" placeholder="type github username here..">
      <input type="submit" value="submit" ng-click="refreshUser(gitUserName)">
      <h2 ng-if="totalItems">name: {{name}}</h2>
      <h3>public_repos: {{totalItems}}</h3>
      <ul ng-if="totalItems > 20" uib-pagination boundary-links="true" total-items="totalItems" ng-click="setPage(currentPage)" ng-model="currentPage" class="pagination-sm" items-per-page="20" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
      <my-react-directive repotable="array"/>
    </div>

</html>
